<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STE : Solicita tu Transporte</title>
</head>

<body>
  <div>
    <header>
      <h1>STE</h1>
      <h5>Servicio de Transporte Especializado</h5>
    </header>
    <div>
      <div>Nombre de usuario</div>
      <div>Servicios disponibles</div>
      <ul>
        <li>Tu vehículo</li>
        <li>Agenda</li>
        <li>Historial</li>
        <li>Referidos</li>
      </ul>
      <div>Configuración</div>
      <ul>
        <li>Pagos</li>
        <li>PQRS</li>
      </ul>
    </div>
    <button>Salir</button>
  </div>
  <div>
    <article>
      <header>Registra tu vehículo</header>
      <div>
        <div>
          <div>Guía rápida de aprendizaje</div>
          <div>
            <div>
              <article>
                <header>Tu vehículo</header>
                <div>
                  <form id="frmVehiculo">
                    <div>
                      <label for="sltTipoVehiculoId">Seleccione el Tipo de Vehículo</label>
                      <select id="sltTipoVehiculoId" type="text" required autocomplete="off">
                        <option value="10">Automóvil</option>
                        <option value="20">Campero</option>
                        <option value="30">Camioneta</option>
                        <option value="40">Microbus</option>
                      </select>
                    </div>
                    <div>
                      <label for="iptPlaca">Ingrese la Placa</label>
                      <input id="iptPlaca" type="text" required autocomplete="off" />
                    </div>
                    <div>
                      <label for="iptColor">Seleccione el color del carro</label>
                      <input id="iptColor" type="color" required autocomplete="off" />
                    </div>
                    <div>
                      <label for="iptModelo">Ingrese el Modelo</label>
                      <input id="iptModelo" type="number" required autocomplete="off" />
                    </div>
                    <div>
                      <label for="iptAsientos">Ingrese la cantidad de asientos</label>
                      <input id="iptAsientos" type="number" required autocomplete="off" />
                    </div>

                    <div>
                      <button id="btnGuardar">Guardar</button>
                    </div>
                  </form>
                </div>
              </article>
            </div>
          </div>
        </div>
        <button>+ Estar Disponible</button>
      </div>
    </article>
  </div>

  <script async src="/js/transport/driver-home.js"></script>
</body>

</html>