<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STE : Solicita tu Transporte</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vast+Shadow&display=swap&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    rel="stylesheet">
  <link href="/css/private.css" rel="stylesheet" />
</head>

<body>
  <div class="wrapper">
    <div class="panel-left">
      <header class="logo">
        <h1 class="logo-title">STE</h1>
        <h5 class="logo-subhead">Servicio de Transporte Especializado</h5>
      </header>
      <div class="wrapper-menu">
        <div class="menu-profile">Nombre de usuario</div>
        <div class="menu-title">Servicios disponibles</div>
        <ul class="menu">
          <li class="menu-item">
            <a href="" class="menu-link menu-link--active">
              <span class="material-symbols-outlined">fiber_manual_record</span>
              Buscar
            </a>
          </li>
          <li class="menu-item">
            <a href="" class="menu-link">
              <span class="material-symbols-outlined">fiber_manual_record</span>
              Ir a Casa
            </a>
          </li>
          <li class="menu-item">
            <a href="" class="menu-link">
              <span class="material-symbols-outlined">fiber_manual_record</span>
              Ir al Trabajo
            </a>
          </li>
          <li class="menu-item">
            <a href="" class="menu-link">
              <span class="material-symbols-outlined">fiber_manual_record</span>
              Otros
            </a>
          </li>
        </ul>
        <div class="menu-title">Configuración</div>
        <ul class="menu">
          <li class="menu-item">
            <a href="" class="menu-link">
              <span class="material-symbols-outlined">fiber_manual_record</span>
              Pagos
            </a>
          </li>
          <li class="menu-item">
            <a href="" class="menu-link">
              <span class="material-symbols-outlined">fiber_manual_record</span>
              PQRS
            </a>
          </li>
        </ul>
      </div>
      <a class="form-button form-button--back btn-end" href="/">
        <span class="material-symbols-outlined">keyboard_backspace</span> Salir
      </a>
    </div>

    <div class="panel-right">
      <header class="page-title">Seleccionar conductor</header>
      <div class="wrapper-page">
        <div>Selecciona tu mejor opción</div>

        <div class="drivers">
          Estamos buscando conductores
        </div>

        <a href="/view/private/solicitante.html" class="form-button form-button--red">
          <span class="material-symbols-outlined">close</span>
          Cancelar
        </a>

      </div>

      <template id="tpeDriver">
        <article class="driver">
          <header class="driver-header">
            <span class="driver-initial"></span>
            <div class="driver-title">
              <span class="driver-name"></span>
              <span class="driver-placa"></span>
            </div>
          </header>
          <div class="driver-background"></div>
          <div class="driver-body">
            <span class="driver-time"></span>
            <div class="driver-stats">
              <span class="driver-services"></span>
              <span class="driver-ranking"></span>
            </div>
            <div class="driver-last-comment"></div>
            <div class="driver-cost"></div>
            <div class="driver-buttons">
              <button class="form-button form-button--back">Negociar</button>
              <button class="form-button form-button--submit">Contratar</button>
            </div>
          </div>
        </article>
      </template>
    </div>
  </div>

  <script src="/js/transport/select-driver.js"></script>
</body>

</html>