<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STE : Solicita tu Transporte</title>
</head>

<body>
  <div>
    <header>
      <h1>STE</h1>
      <h5>Servicio de Transporte Especializado</h5>
    </header>
    <div>
      <div>Nombre de usuario</div>
      <div>Servicios disponibles</div>
      <ul>
        <li>Buscar</li>
        <li>Ir a Casa</li>
        <li>Ir al Trabajo</li>
        <li>Otros</li>
      </ul>
      <div>Configuración</div>
      <ul>
        <li>Pagos</li>
        <li>PQRS</li>
      </ul>
    </div>
    <button>Salir</button>
  </div>
  <div>
    <article>
      <header>Buscar Transporte</header>
      <div>
        <div>
          <div>Barra de búsqueda</div>
          <div>Mapa</div>
        </div>
        <button>+ Solicitar</button>
      </div>
    </article>
  </div>
</body>

</html>